{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

{{ if eq $columns "1" }}
  <div class="col-12">
    {{ $st.Content }}
  </div>
{{ else if eq $columns "2" }}
  <div class="col-12 col-lg-8">
    {{ $st.Content }}
  </div>
{{ else if eq $columns "custom" }}
    {{ $st.Content }}
{{ end }}
