// Increase navbar font-size
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: #{$sta-font-size-small * 1.1}px;
}

// Reduce ckcmc partner logo on overview page
#partners.home-section img {
  max-height: 150px;
  max-width: 275px;
}

// Reduce ckcmc partner logo on details page
.article .featured-image {
  max-height: 150px;
  width: auto;
}

// Reduce padding for sections (on widget pages)
.home-section {
  padding: 55px 0 55px 0;
}

// Reduce bottom margin to (better) vertically center content
.author-card .card-title {
  margin-bottom: 0px;
}

// Reduce image size for publications on overview page and
// set gray border
div#container-publications div.media.stream-item img {
  // max-height: 150px
  max-width: 115px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}
// Add some space between entries
div#container-publications > div {
  margin-bottom: 25px;
}

// Set gray border for publication image on article overview page
div.article-container div.media.stream-item img {
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

// Reduce space in footer
p.powered-by {
  margin-bottom: 5px;
}
footer.site-footer {
  margin-top: 36px;
}

p {
  //  Add browser-based hyphenation support for the site (until (hu)go catches up).
  //  see https://github.com/gohugoio/hugo/issues/307
  //
  //  https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
  hyphens: auto;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
  // word-wrap: break-word;
}

// Remove dead link in book's menu
#docs-nav > .nav.docs-sidenav {
  display: none;
}

// Style CKCMC bg image
.ckcmc div.bg-image {
  filter:blur(6px) brightness(0.95) opacity(0.25);
}
