{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "event" }}
  {{ $show_authors_only = true }}
{{ else if eq $item.Type "publication" }}
  {{ $show_authors_only = true }}
{{ else if eq $item.Type "project" }}
  {{ $show_authors_only = true }}
{{ end }}

{{ $has_attachments := partial "functions/has_attachments" . }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

<div class="media stream-item">
  <div class="media-body">

    <div class="section-subheading article-title mb-0 mt-0">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    </div>

    {{ with $item.Params.subtitle }}
      <p class="section-subsubheading article-subtitle">{{ . | markdownify | emojify }}</p>
    {{end}}

    {{ with $summary }}
    <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="summary-link">
      <div class="article-style">
        {{.}}
      </div>
    </a>
    {{ end }}

    <div class="stream-meta article-metadata">

      {{ if eq $item.Type "event" }}
      <div>
        <span>
          {{ partial "functions/get_event_dates" $item }}
        </span>
        {{ with $item.Params.location }}
        <span class="middot-divider"></span>
        <span>{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}

      {{ if and $show_authors_only $item.Params.authors }}
      <div>
        {{ partial "page_metadata_authors" $item }} ({{ .Date.Format "2006" }})
      </div>
      {{ else if not $show_authors_only }}
        {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
      {{ end }}
    </div>

    {{ if $has_attachments }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}

  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}" loading="lazy">
    </a>
    {{end}}
  </div>
</div>
